.conteiner {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
}

::placeholder{
    color: white;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    border-radius: 2rem;
    background-color: #f72a9a1a;
    height: 2rem;
    font-size: 1rem;
    color: white;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: .5rem;
    margin-top: .3rem;
    background-color: #f72a9a1a;
    color: white;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    transition: 1s;
}

.button:hover{
    color: #00ffbb;
}