.nav {
    background-color: #e91836;
    height: 75px;
    min-width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF;
    box-shadow: 5px 0 10px rgb(0, 0, 0, 0.6);
}

.navlink {
    text-decoration: none;
    color: #f4f4f4;
    margin: 25px;
    font-size: 20px;
    
}

.label {
    font-size: 20px;
    color: #f4f4f4;
    margin-left: 25px;
}